Before:
  Android (Java/ C++/ Kotlin)
  iOS (ObjC/ Swift)
  Desktop (.NET/ JavaFX)
  Web (PHP/ ASP.NET/ Spring/ jQuery/ HTML+ CSS/ ... (js frameworks))
<mat-card>
  <mat-card-title>
    Before
  </mat-card-title>

  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Android
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img class="img-small" src="../../assets/imgs/kotlin.logo.png">
      <img class="img-small" src="../../assets/imgs/java.logo.png">
      <img class="img-small" src="../../assets/imgs/cpp.jpg">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          iOS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img class="img-small" src="../../assets/imgs/swift.png">
      <img class="img-small" src="../../assets/imgs/objc.png">
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Desktop
        </mat-panel-title>
      </mat-expansion-panel-header>
      <img class="img-small" src="../../assets/imgs/net.logo.jpg">
      <img class="img-small" src="../../assets/imgs/cpp.jpg">
      <img class="img-small" src="../../assets/imgs/java.logo.png">
    </mat-expansion-panel>
  </mat-accordion>

</mat-card>
