<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        About me
      </mat-panel-title>
    </mat-expansion-panel-header>
    <img class="img-small" src="../../assets/imgs/1.jpg">
    natalia.legarska@gmail.com <br>
    Music & blogging & hiking
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Work
      </mat-panel-title>
    </mat-expansion-panel-header>
    Angular & .NET Dev – since 2015 <br>
    <img class="img-small" src="../../assets/imgs/euvic.png">
    <img class="img-small" src="../../assets/imgs/obj.png">
    <img class="img-small" src="../../assets/imgs/volvo.png">
    Etc...
  </mat-expansion-panel>
</mat-accordion>
